<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!-- This website template was downloaded from http://www.nuviotemplates.com - visit us for more templates -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="all,follow" />

    <meta name="author" lang="en" content="All: Your website name [www.your-website.com]; e-mail: info@your-website.com" />
    <meta name="copyright" lang="en" content="webdesign: Vit Dlouhy [Nuvio - www.nuvio.cz; NuvioTemplates - www.nuviotemplates.com]; e-mail: hello@nuviotemplates.com" />

    <meta name="description" content="..." />
    <meta name="keywords" content="..." />
    
    <link rel="stylesheet" media="screen,projection" type="text/css" href="css/main.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="css/main-msie.css" /><![endif]-->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="css/scheme.css" />
    <link rel="stylesheet" media="print" type="text/css" href="css/print.css" />

    <title>Your website name | Homepage</title>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div id="header">

        <!-- Your logo -->
        <h1 id="logo"><a href="#">Your <span>website</span> name</a></h1>
        <hr class="noscreen" />        

        <!-- Your slogan -->
        <div id="slogan">Your slogan here</div>
        <hr class="noscreen" />        
        
        <!-- Hidden navigation -->
        <p class="noscreen noprint"><em>Quick links: <a href="#content">content</a>, <a href="#nav">navigation</a>.</em></p>
        <hr class="noscreen" />

    </div> <!-- /header -->

    <!-- Navigation -->
    <div id="nav">
    
        <ul class="box">
            <li id="nav-active"><a href="#">Homepage</a></li> <!-- Active page (highlighted) -->
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        
    <hr class="noscreen" /> 
    </div> <!-- /nav -->

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">
        
            <h2 id="content-title">Lorem ipsum dolor sit amet</h2>
            
            <!-- Perex -->
            <div id="perex" class="box">
            
                <p><img src="tmp/image-02.gif" width="150" height="113" alt="" class="f-left" />
                Donec commodo. Pellentesque nunc. Ut blandit nisl nunc. <a href="#">Donec sapien</a> estem imperdiet ultrices, cursus elementum ac, neque. Cum sociis 
                natoque penatibus et magnis dis parturient montes, nascetur ridiculuses mus. Sed in odio. Sedate ornare aliquam tortor. Aliquam aliquam blandit ante. 
                Fusce elit. Donec blanditili. Sed nisi. Proin eros lectus, fermentum at, tristique quis, molestie quis, lectus. Nulla facilisi. Lorem ipsum dolor sit amet.</p>
            
            </div> <!-- /perex -->

            <hr class="noscreen" />
            
            <div id="content-in">
                
                <!-- 3 sections -->
                <div id="sections" class="box">

                    <!-- Section -->                
                    <div class="section">
                        <h3><a href="#">Section I.</a></h3>
                        <p><a href="#"><img src="tmp/image.gif" width="200" height="150" alt="" /></a></p>    
                        <div class="section-in">
                            <p>Lorem ipsum dolor sita ametes ensectetue adipiscing elit. Sed suscipit e lobortis. Semi ornare aliquam tortor. Aliquame bit.</p>
                        </div> <!-- /section-in -->
                        <p class="t-center"><a href="#"><img src="design/btn-more.gif" width="40" height="22" alt="" /></a></p>
                    </div> <!-- /section -->
                    
                    <!-- Section -->
                    <div class="section margin">
                        <h3><a href="#">Section II.</a></h3>
                        <p><a href="#"><img src="tmp/image.gif" width="200" height="150" alt="" /></a></p>
                        <div class="section-in">
                            <p>Lorem ipsum dolor sita ametes ensectetue adipiscing elit. Sed suscipit e lobortis. Semi ornare aliquam tortor. Aliquame bit.</p>
                        </div> <!-- /section-in -->
                        <p class="t-center"><a href="#"><img src="design/btn-more.gif" width="40" height="22" alt="" /></a></p>
                    </div> <!-- /section -->
                    
                    <!-- Section -->
                    <div class="section fix">
                        <h3><a href="#">Section III.</a></h3>
                        <p><a href="#"><img src="tmp/image.gif" width="200" height="150" alt="" /></a></p>
                        <div class="section-in">
                            <p>Lorem ipsum dolor sita ametes ensectetue adipiscing elit. Sed suscipit e lobortis. Semi ornare aliquam tortor. Aliquame bit.</p>
                        </div> <!-- /section-in -->
                        <p class="t-center"><a href="#"><img src="design/btn-more.gif" width="40" height="22" alt="" /></a></p>
                    </div> <!-- /section -->
                
                </div> <!-- /sections -->
                
                <div id="sections-bottom"></div>

                <!-- Table -->
                <table class="nomb table-style01">
                    <tr>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                    <tr class="bg">
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                    <tr class="bg">
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                </table>
                
                <!-- Unorder list -->
                <ul class="ul-style01">
                    <li>Lorem ipsum sit dolor amet</li>
                    <li>Lorem ipsum sit dolor amet</li>
                    <li>Lorem ipsum sit dolor amet
                        <ul>
                            <li>Lorem ipsum sit dolor amet</li>
                            <li>Lorem ipsum sit dolor amet
                                <ul>
                                    <li>Lorem ipsum sit dolor amet</li>
                                    <li>Lorem ipsum sit dolor amet</li>
                                    <li>Lorem ipsum sit dolor amet</li>
                                </ul>
                            </li>
                            <li>Lorem ipsum sit dolor amet</li>
                        </ul>
                    </li>
                    <li>Lorem ipsum sit dolor amet</li>
                    <li>Lorem ipsum sit dolor amet</li>
                </ul>

            </div> <!-- /content-in -->
               
        </div> <!-- /content -->

        <hr class="noscreen" />

        <!-- Sidebar -->
        <div id="aside">

            <!-- News -->                    
            <h4 id="aside-title">News</h4>
            
            <div class="aside-in">
                <div class="aside-box">

                    <dl id="news">
                        <dt><a href="#">Lorem ipsum dolor sit amet</a></dt>
                        <dd><span class="date">15. 01.</span> Lorem ipsum dolor sit amet estame consectetue adipiscing eliti. Sedem suscipit, pede et lobortis es.</dd>
                        
                        <dt><a href="#">Lorem ipsum amet</a></dt>
                        <dd><span class="date">15. 01.</span> Lorem ipsum dolor sit amet estame consectetue adipiscing eliti. Sedem suscipit, pede et lobortis es.</dd>
                        
                        <dt><a href="#">Lorem ipsum dolor sit amet</a></dt>
                        <dd><span class="date">15. 01.</span> Lorem ipsum dolor sit amet estame consectetue adipiscing eliti. Sedem suscipit, pede et lobortis es.</dd>
                    </dl>
                
                </div> <!-- /aside-box -->
            </div> <!-- /aside-in -->
            
            <!-- Contact -->
            <h4 class="title">Contact</h4>

            <div class="aside-in">
                <div class="aside-box">

                    <address>
                        <strong>Your website name</strong><br />
                        Some street 123, Some city<br />
                        <a href="#">your@email.com</a>
                    </address>

                </div> <!-- /aside-box -->
            </div> <!-- /aside-in -->
   
        </div> <!-- /aside -->
    
    </div> <!-- /cols -->
    
    <div id="cols-bottom"></div>

    <hr class="noscreen" />
    
    <!-- Footer -->
    <div id="footer">

        <!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->            
        <p class="f-right"><a href="http://www.nuviotemplates.com/">Free web templates</a> presented by <a href="http://www.qartin.cz/">QARTIN</a>, sponsored by <a href="http://www.lekynainternetu.cz/">Leky</a></p>
        <!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->
        
        <p>&copy;&nbsp;2008 <a href="#">Your website name</a></p>

    </div> <!-- /footer -->

</div> <!-- /main -->

</body>
</html>
